$color-gray-1 :#595959;
$color-gray-2 :#7f7f7f;
$color-gray-3 :#a5a5a5;
$color-gray-4 :#cccccc;
$color-gray-5 :#f2f2f2;

$font-heading-1: 30px;
$font-heading-2: 24px;
$font-heading-3: 18px;
$font-subtitle-1: 16px;
$font-subtitle-1: 14px;
$font-subtitle-1: 12px;
$font-para-1: 10px;

$font-weight-extra-bold:800;
$font-weight-bold:600;
$font-weight-normal:400;
$font-weight-light:300;





